*{
    box-sizing: border-box;
    margin: 0;
    border: 0;

}
body{
    background: url(images.jpeg);
   background-repeat: no-repeat;
   background-size: cover;
   
}
h1{
    text-align: center;
    color:blue;
    font-size: 50px;
    margin-top: 30px;
}

#container{
    display: flex;
    padding-left: 33vw;
    padding-top: 6vw;
    margin: auto;
  
}
p{
    color: blue;
    font-size: 35px;
    position: relative;
    left: 3vw;
}
#dice{
    padding-left: 50px;
}

.btn{
    height: 60px;
    margin-top: 50px;
    width: 250px;
    margin-left:43vw;
   border-radius: 5px;
   background-color: rgb(70, 70, 221);
   color: azure;
   font-size:20px ;

}
@media screen and (max-width: 800px ){
    
    
#container{

flex-direction: column;
position: relative;
right: 15vw;
  
}
.btn{
position: relative;
right: 20vw;
}

  
}
